---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/about-background.webp'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/about-background.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/about-background.webp">
            <img aria-hidden="true" decoding="async" src="/assets/images/about-background.webp" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/left-box_image1.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/left-box_image1.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/left-box_image1.webp" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/left-box_image2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/left-box_image2.webp">
                    <img aria-hidden="true" decoding="async" src="/assets/images/left-box_image2.webp" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About TechDot</h2>
                <p class="cs-text">
                    Tech Dot was founded by Dominic Digiacomo in Raleigh, North Carolina, with the vision of helping small businesses thrive in the digital world. Starting from humble beginnings as a one-person operation, Tech Dot has grown into a trusted web development and consulting company. Despite our small start, we’ve always been driven by a passion for innovation and a commitment to delivering high-quality, personalized digital solutions.
                </p>
                <p class="cs-text">
                    Today, we specialize in custom web design, SEO optimization, and digital strategy, empowering businesses to build strong online presences and achieve measurable growth. We understand the challenges small businesses face because we’ve been there, and we use that experience to provide tailored services that meet our clients' unique needs.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        I’ve always had a passion for helping small businesses grow and succeed, which is why I started Tech Dot. I understand the challenges small businesses face in today’s digital landscape, and I’m committed to providing web solutions that not only meet their needs but help them thrive. Every project I take on is driven by my desire to empower businesses with the tools and strategies they need to reach their full potential and grow their online presence.
                    </p>
                    <span class="cs-name">Dominic Digiacomo</span>
                    <span class="cs-job">Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}